{% extends 'base.html.twig' %}
{% block title %}Dashboard ERP{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1>Test Dashboard</h1>
        </div>
    </div>
{% endblock %}