{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}


    {% block body %}

        <!--header section start -->
        <div class="header_section">
            <div class="container-fluid">
                <div class="main">
                    <div class="logo"><a href="#"><img src="{{ asset('images/logo.png') }}"></a></div>
                    <div class="menu_text">
                        <ul>
                            {% if not app.user %}
                                <div class="togle_">
                                    <div class="menu_main">
                                        <ul>
                                            <li><a href="{{path('connexion')}}" style="color:white;">Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            {% else %}
                                <div class="togle_">
                                    <div class="menu_main">
                                        <ul>
                                            <li><a href="{{path('deconnexion')}}" style="color:white;">Déconnexion</a></li>
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <div class="overlay-content">
                                    <a href="{{ path('home') }}">Accueil</a>
                                    {% if not app.user %}
                                        <a href="{{ path('inscription') }}">Inscription</a>
                                    {% else %}
                                        <a href="#">Gestion des Clients </a>
                                        <a href="{{ path('account_type_index') }}">Type de compte</a>
                                    {% endif %}
                                    <div class="dropdown">


                                    </div>
                                </div>
                            </div>
                            <span class="navbar-toggler-icon"></span>
                            <span onclick="openNav()"><img src="{{ asset('images/toogle-icon.png') }}" class="toggle_menu"></span>
                            <span onclick="openNav()"><img src="{{ asset('images/toogle-icon1.png') }}" class="toggle_menu_1"></span>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- banner section start -->
            <div class="banner_section layout_padding">
                <div class="container">
                    <div id="my_slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">
                                        <div class="container">
                                            <h1 class="banner_taital">PreudHomme</h1>
                                            <p class="banner_text">Un progiciel qui permet « de gérer l'ensemble des processus d'une entreprise</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">
                                        <div class="banner_img"><img src="{{ asset('images/ERP_3.png ') }} "></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- banner section end -->
        </div>

        <div class="protect_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="protect_taital">Notre prologiciel</h1>
                        <p class="protect_text">Permet  de gérer l'ensemble des processus d'une entreprise en intégrant l'ensemble de ses fonctions, dont la gestion des ressources humaines, la gestion comptable et financière, l'aide à la décision, mais aussi la vente, la distribution, l'approvisionnement et le commerce électronique</p>
                    </div>
                </div>
                <div class="protect_section_2 layout_padding">
                    <div class="row">
                        <div class="col-md-6">
                            {% if not app.user %}
                            <h3 class="hands_text_2"><a href="#">Gestion <br>des clients</a></h3>
                            {% else %}
                            <h3 class="hands_text"><a href="{{ path('client_index') }}">Gestion <br>des clients</a></h3>
                            {% endif %}
                            <h3 class="hands_text_2"><a href="#">Gestion <br>des ressources humaines</a></h3>
                            <h3 class="hands_text"><a href="#">Gestion <br>financière</a></h3>
                        </div>
                        <div class="col-md-6">
                            <div class="image_2"><img src="{{ asset('images/img-2.png') }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- protect section end -->
        <!-- about section start -->
        <div class="about_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_img"><img src=" {{ asset('images/img-erp.png') }}"></div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="about_taital">C'est quoi un ERP?</h1>
                        <p class="about_text">Un ERP (Enterprise Resource Planning) ou encore parfois appelé PGI (Progiciel de Gestion Intégré) est un système d'information qui permet de gérer et suivre au quotidien, l'ensemble des informations et des services opérationnels d'une entreprise.</p>

                    </div>
                </div>
            </div>
        </div>
        <!-- about section end -->

        <!-- footer section start -->
        <div class="footer_section layout_padding">
            <div class="container">
                <div class="footer_section_2">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <h2 class="useful_text">Menu</h2>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Acceuil</a></li>
                                    <li><a href="#">Inscription</a></li>
                                    <li><a href="#">Déconnexion</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h2 class="useful_text">A propos</h2>
                            <p class="footer_text">Nous somme 4 étudiant en master 1 à spécialité études et développement</p>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h2 class="useful_text">Nous contacter</h2>
                            <div class="location_text">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>
                                            <span class="padding_15">Tél +33 638115219</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
                                            <span class="padding_15">epsi@gmail.com</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h2 class="useful_text">Pays</h2>
                            <div class="map_image"><img src="{{ asset('images/map-bg.png') }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer section end -->
        <!-- copyright section start -->
        <div class="copyright_section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="copyright_text">© 2020 Tous droits réservées</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright section end -->
        <!-- Javascript files-->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/jquery-3.0.0.min.js') }}"></script>
        <script src="{{ asset('js/plugin.js') }}"></script>
        <!-- sidebar -->
        <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        <!-- javascript -->
        <script src="{{ asset('js/owl.carousel.js') }}"></script>
        <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".fancybox").fancybox({
                    openEffect: "none",
                    closeEffect: "none"
                });

                $(".zoom").hover(function(){

                    $(this).addClass('transition');
                }, function(){

                    $(this).removeClass('transition');
                });
            });
        </script>
        <script>
            function openNav() {
                document.getElementById("myNav").style.width = "100%";
            }
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>


{% endblock %}
