{% extends 'base.html.twig' %}
{% block title %}Inscription ERP{% endblock %}

{% block body %}
<div class="header_section header_bg">
         <div class="container-fluid">
               <div class="main">
                  <div class="logo"><a href="{{path('home')}}"><img src="{{ asset('images/logo.png') }}"></a></div>
                  <div class="menu_text">
                     <ul>
                        <div class="togle_">
                           <div class="menu_main">
                              <ul>
                                 <li><a href="{{path('connexion')}}" style="color:white">Login</a></li>
                              </ul>
                           </div>
                        </div>
                        <div id="myNav" class="overlay">
                           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                           <div class="overlay-content">
                             <a href="{{path('home')}}">Acceuil</a>
                              <a href="{{path('inscription')}}">Inscriptiion</a>
                           </div>
                        </div>
                        <span class="navbar-toggler-icon"></span>
                        <span onclick="openNav()"><img src="{{ asset('images/toogle-icon.png') }}" class="toggle_menu"></span>
                        <span onclick="openNav()"><img src="{{ asset('images/toogle-icon1.png') }}" class="toggle_menu_1"></span>
                     </ul>
                  </div>
               </div>
            </div>
</div>


 <div class="container mt-5 mb-4" style=" width:700px">
    <h1 class="text-center mt-3" >Créer votre compte </h1>
{{form_start(form)}}
    
    {{ form_row(form.username, {
        "attr":{"placeholder":"Saisir votre login ",'class':'form-group'},
        "label":"Votre Login"

    })}}
    
     {{ form_row(form.password, {
        "attr":{"placeholder":"Saisir votre mdp ",'class':'form-group'},
        "label":"Mot de passe"

    })}}

     {{ form_row(form.verificationPassword, {
        "attr":{"placeholder":"comfirmer Mdp ",'class':'form-group'},
        "label":"Comfirmer votre mot de passe"

    })}}

	
	
    <input type="submit" class=" btn btn-primary " value="Créer votre compte" style="margin-left:70px"> 
{{form_end(form)}}
</div>



    
    <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_section_2">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Menu</h2>
                     <div class="footer_menu">
                        <ul>
                           <li><a href="#">Acceuil</a></li>
                           <li><a href="#">Inscription</a></li>
                           <li><a href="#">Login</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">A propos</h2>
                     <p class="footer_text">Nous somme 4 étudiant en master 1 à spécialité études et développement</p>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Nous contacter</h2>
                     <div class="location_text">
                        <ul>
                           <li>
                              <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>
                              <span class="padding_15">Tél +33 638115219</span></a>
                           </li>
                           <li>
                              <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
                              <span class="padding_15">epsi@gmail.com</span></a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Pays</h2>
                     <div class="map_image"><img src="{{ asset('images/map-bg.png') }}"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <p class="copyright_text">© 2020 All Rights Reserved.</p>
               </div>
            </div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
              
         $(".zoom").hover(function(){
              
         $(this).addClass('transition');
         }, function(){
              
         $(this).removeClass('transition');
         });
         });
      </script> 
      <script>
         function openNav() {
         document.getElementById("myNav").style.width = "100%";
         }
         function closeNav() {
         document.getElementById("myNav").style.width = "0%";
         }
      </script> 
{% endblock %}
