{% extends 'base.html.twig' %}
{% block title %}Inscription ERP{% endblock %}

{% block body %}
<div class="header_section header_bg">
         <div class="container-fluid">
               <div class="main">
                  <div class="logo"><a href="{{path('home')}}"><img src="{{ asset('images/logo.png') }}"></a></div>
                  <div class="menu_text">
                     <ul>
                     {% if not app.user %}
                     
                        <div class="togle_">
                           <div class="menu_main">
                              <ul>
                                 <li><a href="{{path('connexion')}}" style="color:white">Login</a></li>
                                
                              </ul>
                           </div>
                        </div>
                        {% else %}
                        <div class="togle_">
                           <div class="menu_main">
                              <ul>
                                 <li><a href="{{path('deconnexion')}}" style="color:white">Déconnexion</a></li>
                                
                              </ul>
                           </div>
                        </div>
                        {% endif %}   
                        <div id="myNav" class="overlay">
                           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                           <div class="overlay-content">
                             <a href="{{path('home')}}">Acceuil</a>
                             {% if not app.user %}
                              <a href="{{path('inscription')}}">Inscription</a>
                              {% endif %}
                           </div>
                        </div>
                        <span class="navbar-toggler-icon"></span>
                        <span onclick="openNav()"><img src="{{ asset('images/toogle-icon.png') }}" class="toggle_menu"></span>
                        <span onclick="openNav()"><img src="{{ asset('images/toogle-icon1.png') }}" class="toggle_menu_1"></span>
                     </ul>
                  </div>
               </div>
            </div>
</div>


 <div class="container mb-3" style="margin-top :200px; width:500px">
     <div class="text-center">
         <h1>Connexion ERP</h1>
         <p>Pour vous vous connecter, merci de renseinger votre login et votre mot de passe.</p>
     </div>
{% if error %}
<div class="alert alert-danger">Votre Login ou mot de passe sont incorrectes </div>
{% endif %}

<form action="{{path('connexion')}}" method="post">
    <div class="form-group">
        <label>Login </label>
        <input type="text" required name ="_username" class="form-control" >
    </div>
    <div class="form-group">
        <label>Mot de passe </label>
        <input type="password" required name ="_password" class="form-control" >
    </div>
    <div class="text-center col-12">
        <input type="submit" class="btn btn-primary text-center" value="Connecter">
    </div>
</form>
</div>



    
    <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_section_2">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Menu</h2>
                     <div class="footer_menu">
                        <ul>
                           <li><a href="#">Acceuil</a></li>
                           <li><a href="#">Inscription</a></li>
                           <li><a href="#">Login</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">A propos</h2>
                     <p class="footer_text">Nous somme 4 étudiant en master 1 à spécialité études et développement</p>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Nous contacter</h2>
                     <div class="location_text">
                        <ul>
                           <li>
                              <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>
                              <span class="padding_15">Tél +33 638115219</span></a>
                           </li>
                           <li>
                              <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
                              <span class="padding_15">epsi@gmail.com</span></a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Pays</h2>
                     <div class="map_image"><img src="{{ asset('images/map-bg.png') }}"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <p class="copyright_text">© 2020 All Rights Reserved.</p>
               </div>
            </div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
              
         $(".zoom").hover(function(){
              
         $(this).addClass('transition');
         }, function(){
              
         $(this).removeClass('transition');
         });
         });
      </script> 
      <script>
         function openNav() {
         document.getElementById("myNav").style.width = "100%";
         }
         function closeNav() {
         document.getElementById("myNav").style.width = "0%";
         }
      </script> 
{% endblock %}
