{% extends 'base.html.twig' %}

{% block title %}AccountType index{% endblock %}

{% block body %}
    <h1>Les différents types de comptes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type de compte</th>
                <th>Détails</th>
                <th>Interet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account_type in account_types %}
            <tr>
                <td>{{ account_type.id }}</td>
                <td>{{ account_type.name }}</td>
                <td>{{ account_type.details }}</td>
                <td>{{ account_type.rate }}</td>
                <td>
                    <a href="{{ path('account_type_show', {'id': account_type.id}) }}">Détails</a>
                    <a href="{{ path('account_type_edit', {'id': account_type.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('account_type_new') }}">Create new</a>
{% endblock %}
