{% extends 'base.html.twig' %}

{% block title %}New AccountType{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau type de compte</h1>

    {{ include('account_type/_form.html.twig') }}

    <a href="{{ path('account_type_index') }}">Retour à la liste</a>
{% endblock %}
