{% extends 'base.html.twig' %}

{% block title %}AccountType{% endblock %}

{% block body %}
    <h1>AccountType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ account_type.name }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ account_type.details }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ account_type.rate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('account_type_index') }}">back to list</a>

    <a href="{{ path('account_type_edit', {'id': account_type.id}) }}">edit</a>

    {{ include('account_type/_delete_form.html.twig') }}
{% endblock %}
