<form class="mb-4" method="post" action="{{ path('client_delete', {'id': client.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce client ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-danger btn-block">Supprimer</button>
</form>
