{{ form_start(form) }}

    {{ form_row(form.lastName, {
        "attr":{"placeholder":"Nom",'class':'form-group'},
        "label":"Nom"

    })}}

     {{ form_row(form.firstName, {
         "attr":{"placeholder":"Prénom",'class':'form-group'},
         "label":"Prénom"

     })}}

     {{ form_row(form.phone, {
         "attr":{"placeholder":"Téléphone",'class':'form-group'},
         "label":"Téléphone"

     })}}

    {{ form_row(form.email, {
         "attr":{"placeholder":"Email",'class':'form-group'},
         "label":"Email"

     })}}

     {{ form_row(form.adress, {
         "attr":{"placeholder":"Adresse",'class':'form-group'},
         "label":"Adresse"

     })}}

    <button class="btn btn-primary btn-block mb-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
