{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

    <div class="header_section header_bg">
        <div class="container-fluid">
            <div class="main">
                <div class="logo"><a href="{{path('home')}}"><img src="{{ asset('images/logo.png') }}"></a></div>
                <div class="menu_text">
                    <ul>
                        {% if not app.user %}
                            <div class="togle_">
                                <div class="menu_main">
                                    <ul>
                                        <li><a href="{{path('connexion')}}" style="color:white">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="togle_">
                                <div class="menu_main">
                                    <ul>
                                        <li><a href="{{path('deconnexion')}}" style="color:white">Déconnexion</a></li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        <div id="myNav" class="overlay">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <div class="overlay-content">
                                <a href="{{path('home')}}">Acceuil</a>
                                <a href="{{path('client_index')}}">Gestion des clients</a>
                            </div>
                        </div>
                        <span class="navbar-toggler-icon"></span>
                        <span onclick="openNav()"><img src="{{ asset('images/toogle-icon.png') }}" class="toggle_menu"></span>
                        <span onclick="openNav()"><img src="{{ asset('images/toogle-icon1.png') }}" class="toggle_menu_1"></span>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Client détails  <a  style="display: inline;" class="btn-secondary btn" href="{{ path('client_index') }}">Retour à la liste</a></h1>
        <p>Détails du client.</p>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ client.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adress }}</td>
            </tr>
            </tbody>
        </table>
        {{ include('client/_delete_form.html.twig') }}

    </div>

    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="footer_section_2">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Menu</h2>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Acceuil</a></li>
                                <li><a href="#">Inscription</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">A propos</h2>
                        <p class="footer_text">Nous somme 4 étudiant en master 1 à spécialité études et développement</p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Nous contacter</h2>
                        <div class="location_text">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="padding_15">Tél +33 638115219</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span class="padding_15">epsi@gmail.com</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Pays</h2>
                        <div class="map_image"><img src="{{ asset('images/map-bg.png') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->





{% endblock %}
